html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media (min-width: 560px) and (max-width: 1115px) {
  html {
      font-size: .8960573477vw;
  }
}
body{
  font-family: "Noto Sans JP", sans-serif;
}
li {
  list-style: none;
}
img {
  width: 100%;
  vertical-align: bottom;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  cursor: pointer;
}
.text {
  font-size: 1.4rem;
}
.center {
  text-align: center;
}
.fb {
  font-weight: 700;
}
p.notes {
  font-size: 1.2rem;
  font-weight: 400;
  color: #535353;
}
#wrapper main {
  padding-top: 64px;
}
.block-wrapper {
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;
}
.block-horizone {
  display: flex;
  margin-bottom: 6em;
}
.block-flex {
  display: flex;
}
.box-size-m {
  width: 100%;
  max-width: 33em;
}
.box-size-m:not(:last-child),
.box-size-s:not(:last-child) {
  margin-right: 2.5em;
}
.box-size-s {
  width: 100%;
  max-width: 241px;
}
.top-content h2 {
  position: relative;
  font-size: 3.4rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2em;
}
.top-content {
  margin-bottom: 8em;
}
.top-content h2::after {
  content: "";
  position: absolute;
  width: 1.9em;
  height: 6px;
  background-color: #5776A8;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  bottom: -.8em;
  border-radius: 3px;
}
.box-r-shadow {
  border-radius: 8px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, .15);
  border: 1px solid #e2e2e2;
}
.box-r-bg {
  border-radius: 8px;
  background-color: #EFF4F8;
  padding: 1.8em;
}
.box-r-line {
  border-radius: 8px;
  border: 1px solid #D0D0D0;
}

/* リンクボタン類 */
a.btn-base {
  position: relative;
  width: 21em;
  display: block;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  background-color: #fff;
  border: 3px solid #5776A8;
  color: #5776A8;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, .25);
  margin-left: auto;
  margin-right: auto;
  padding: 1em 0;
  border-radius: 999px;
  text-decoration: none;
  transition: all .3s;
}
a.btn-main {
  width: 21.5em;
  font-size: 2.0rem;
  color: #fff;
  border: 3px solid #009E9F;
  background-color: #009E9F;
  padding: 1.2em 0;
}
.top-main a.btn-main {
  filter: brightness(1.15);
}
a.btn-base-s {
  width: 12em;
}
a.btn-base::after,
a.btn-base::before {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
}
a.btn-base::after {
  content: '\e5cc';
  font-family: 'Material Symbols Rounded';
  color: #fff;
  font-size: 2rem;
  right: 1em;
}
a.btn-main::after {
  color: #009E9F;
  right: 1.1em;
}
a.btn-base::before {
  content: "";
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #5776A8;
  right: 1em;
}
a.btn-main::before {
  background-color: #fff;
}
a.btn-base:hover {
  box-shadow: none;
  transform: translate(2px, 2px);
  transition: all .3s;
  background-color: #5776A8;
  color: #fff;
}
a.btn-main:hover {
  background-color: #01B7B8;
  border-color: #01B7B8;
}
a.btn-main:hover::after {
  color: #01B7B8;
}
a.btn-box-base {
  position: relative;
  text-align: center;
  color: #5776A8;
  font-size: 1.4rem;
  font-weight: bold;
  border: 2px solid #5776A8;
  border-radius: 999px;
  padding: .7em 0;
  transition: all .3s;
}
a.btn-box-base::after {
  position: absolute;
  content: '\e5cc';
  font-family: 'Material Symbols Rounded';
  color: #5776A8;
  font-size: 2rem;
  right: .5em;
  transform: translateY(-50%);
  top: 50%;
}
a.btn-box-base:hover {
  transition: all .3s;
  color: #fff;
  background-color: #5776A8;
}
a.btn-box-base:hover::after {
  transition: all ,3s;
  color: #fff;
}
a.box-hover {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  transition: all .3s;
  color: #000;
}
a.box-hover h3 {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 1.2em;
  color: #000;
}
section:has(a.box-hover:hover) {
  box-shadow: none;
  transform: translate(2px, 2px);
  transition: all .3s;
}
.block-main-btn:has(a.btn-main:hover) {
  transform: translate(2px, 2px);
  transition: all .3s;
}
.btn-icon-link {
  width: 2.4em;
  height: 2.4em;
  background-color: #5776A8;
  border-radius: 50%;
  color: #fff;
  align-self: end;
}
.btn-icon-link .material-symbols-rounded {
  font-weight: 600;
}
.btn-text {
  color: #009E9F;
  font-size: 2.0rem;
  font-weight: 700;
  text-align: center;
  position: relative;
  margin-bottom: 1.2em;
}
.btn-text span {
  position: relative;
  border-bottom: 3px solid #009E9F;
  padding: 0 .5em .3em;
}
.btn-text::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border: 3px solid;
  bottom: -13px;
  left: 50%;
  background: #fff;
  border-color: #009E9F #009E9F transparent transparent;
  transform: translateX(-50%) rotate(135deg);
}
.btn-bg {
  background-color: #EFF4F8;
  padding: 3em 0;
  margin-top: 6em;
}
.btn-bg .btn-text::after {
  background: #EFF4F8;
}

.box-inner {
  padding: 1.8em;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
section .thumb {
  position: relative;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
}

/* slider */
.slide-content {
  position: relative;
  padding: 0 1em 1em;
}
.swiper-button-next, .swiper-button-prev {
  color: #5776A8;
  border: #5776A8 2px solid;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.swiper-button-prev {
  left: -5%;
}
.swiper-button-next {
  right: -5%;
}
.swiper-button-next:after, .swiper-button-prev:after {
  font-family: 'Material Symbols Rounded';
  font-size: 2.8rem;
  font-weight: 500;
}
.swiper-button-next:after {
  content: "\e5cc";
}
.swiper-button-prev:after {
  content: "\e5cb";
}


/* ヘッダー */
#header {
  position: fixed;
  z-index: 999;
}
#header.UpMove{
	animation: UpAnime 0.5s forwards;
}
@keyframes UpAnime{
  from {
    opacity: 1;
	transform: translateY(0);
  }
  to {
    opacity: 0;
	transform: translateY(-100px);
  }
}
#header.DownMove{
	animation: DownAnime 0.5s forwards;
}
@keyframes DownAnime{
  from {
  	opacity: 0;
	transform: translateY(-100px);
  }
  to {
  	opacity: 1;
	transform: translateY(0);
  }
}
header {
  background-color: #fff;
  height: 64px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  margin-left: 2%;
}
header h1 a {
  display: block;
  max-width: 260px;
  width: 100%;
}
header nav {
  margin-right: 2%;
}
header nav ul {
  display: flex;
  align-items: center;
}
header nav ul li a {
  color: #000;
  font-size: 1.4rem;
  font-weight: 500;
}
header nav ul li:not(:last-child) {
  margin-right: 2.4em;
}
.header-btn {
  display: block;
  color: #fff;
  background-color: #009E9F;
  padding: 0.7em 2.4em;
  border-radius: 999px;
  font-weight: 700;
  transform: all .3s;
}
.header-btn:hover {
  transition: all .3s;
  filter: brightness(1.2);
}
header nav .text-link a {
  position: relative;
  padding-top: .5em;
  padding-bottom: .5em;
}
header nav .text-link a:hover {
  color: #5776A8;
}
header nav .text-link a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background:#5776A8;
  transition: all .3s;
  transform: scale(0, 1);
  transform-origin: center top;
}
header nav .text-link a:hover::after {
  transform: scale(1, 1);
}

/* フッター */
#footer {
  text-align: center;
}
#footer .footer-logo {
  display: block;
  width: 100%;
  max-width: 260px;
  margin: 0 auto 2em;
}
.footer-text {
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.6;
  margin-bottom: 2.1em;
}
.footer-breadcrumb {
  background-color: #E3E6EA;
  font-size: 1.2rem;
  padding: 1.2em 0;
}
.footer-breadcrumb li {
  position: relative;
  color: #606060;
  margin-right: 1.2em;
  padding-right: 1em;
}
.footer-breadcrumb li a {
  color: #000;
}
.footer-breadcrumb li a:hover {
  color: #5776A8;
}
.footer-breadcrumb li:not(:last-child)::after {
  position: absolute;
  content: "\e5cc";
  font-family: 'Material Symbols Rounded';
  transform: translateY(-50%);
  top: 50%;
  font-size: 2rem;
  font-weight: 200;
}
.footer-list {
  background-color: #5776A8;
  padding: 2.4em 0;
}
.footer-list ul {
  width: calc(100% / 3);
  text-align: left;
}
.footer-list .list-title {
  font-size: 1.2rem;
  color: #fff;
  font-weight: 700;
  padding-bottom: 1em;
}
.footer-list a {
  display: block;
  font-size: 1.2rem;
  color: #fff;
  padding-bottom: 1em;
}
.footer-list a:hover {
  text-decoration: underline;
}
.copyright {
  font-size: 1.2rem;
  margin-bottom: 1.2em;
}
.copyright a {
  text-decoration: underline;
  color: #000;
}
.copyright a:hover {
  text-decoration: none;
}
#top {
  position: fixed;
	bottom: 2em;
	right: 2em;
  display: flex;
  flex-direction: column;
  align-items: end;
  opacity: 0;
	transition-duration: 0.5s;
}
#top span {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: #5776A8;
  border-radius: 50%;
  color: #fff;
  justify-content: center;
  flex-direction: column;
}
#top .material-symbols-rounded {
  font-weight: 200;
  font-size: 3.2rem;
}
.footer-btn-logo {
  justify-content: center;
  align-items: center;
  margin: 1.5em 0;
}
.footer-btn-logo a {
  display: block;
}
.footer-btn-logo li {
  width: 100px;
}
.footer-btn-logo li:nth-child(2) img {
  width: 30%;
}
